$dark-black: #181818;
$black: #252729;
$gray: #424242;
$light-gray: #696969;
$medium-gray: #989898;
$white-gray: #ECF0F1;

$dark-blue: #2C3E50;
$medium-blue: #2980B9;
$light-blue: #3498DB;
$orange: #e78812;
$blaze: #E74C3C;
$green: #22a144;

// $unstarted-color: #7b9bb2;
// $started-color: #aaadb0;
// $finished-color: #2b5487;
// $delivered-color: #f39300;
// $rejected-color: #a71f39;
// $accepted-color: $green;

$unstarted-color: $orange;
$started-color: #AEAEAE;
$finished-color: $medium-blue;
$delivered-color: $dark-blue;
$rejected-color: #a71f39;
$accepted-color: #1BBC7B;

@mixin fade-gradient {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(73%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
