/*****************************************************************************/
/* Stories: Style */
/*****************************************************************************/

$box-size: 25%;

.stories {
  width: 100%;
  height: 100%;
  li {
    position: relative;
    width: $box-size;
    height: $box-size;
    float: left;
    display: block;
    overflow: hidden;
    background: $gray;
    border: 1px solid $light-gray;
    box-sizing: border-box;
    padding: 10px;

    .owners {
      box-sizing: border-box;
      z-index: 1;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 5px 10px 10px;
      h6 {
        color: white;
        float: left;
        & + h6 {
          margin-left: 10px;
        }
      }
    }

    h2, h4, h5, h6 {
      margin: 0;
    }

    h2 {
      font-size: 24px;
      margin-top: 25px;
    }

    h4 {
      margin-top: 15px;
      font-weight: normal;
      font-size: 16px;
      color: $white-gray;
      &.full {
        display: none;
      }
    }

    h6 {
      text-transform: uppercase;
      color: $light-gray;
      &.left {
        font-weight: 300;
        float: left;
      }
      &.right {
        float: right;
      }
      span {
        font-weight: bold;
      }
    }

    &.unstarted {
      &, & .owners {
        background: $unstarted-color;
      }
    }
    &.started {
      &, & .owners {
        background: $started-color;
      }
      color: white;
    }
    &.finished {
      &, & .owners {
        background: $finished-color;
      }
    }
    &.delivered {
      &, & .owners {
        background: $delivered-color;
      }
    }
    &.accepted {
      &, & .owners {
        background: $accepted-color;
      }
    }
    &.rejected {
      &, & .owners {
        background: $rejected-color;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: .75;
    }

    &.open {
      width: 50%;
      height: 50%;
      opacity: 1 !important;
      &, & .owners {
        &, & a {
          color: $black;
        }
        background: white;
      }
      .owners {
        &:before {
          position: absolute;
          content: '';
          top: -15px;
          left: 0;
          width: 100%;
          height: 15px;
          @include fade-gradient;
        }
      }
      h4.full {
        color: $black;
        display: block;
        max-height: 80%;
        position: relative;
        overflow: hidden;
      }
      h4.truncated {
        display: none;
      }
    }

  }
}
