/*****************************************************************************/
/* Stories: Style */
/*****************************************************************************/

$box-size: 250px;

.stories, .masonry-container {
  width: 100%;
  height: 100% !important;

  .grid-sizing {
    width: $box-size;
  }

  li, .masonry-element {
    width: $box-size;
    height: $box-size - 100;
    float: left;
    display: block;
    overflow: hidden;
    background: $gray;
    box-sizing: border-box;

    .story-wrapper {
      box-sizing: border-box;
      position: relative;
      border: 1px solid $medium-gray;
      width: 100%;
      height: 100%;
      padding: 10px;

      &.unstarted {
        background: $unstarted-color;
      }
      &.started {
        background: $started-color;
      }
      &.finished {
        background: $finished-color;
      }
      &.delivered {
        background: $delivered-color;
      }
      &.accepted {
        background: $accepted-color;
      }
      &.rejected {
        background: $rejected-color;
      }
    }

    .info {
      overflow: hidden;
    }

    .owners {
      box-sizing: border-box;
      z-index: 1;
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0px;
      padding: 10px;
      h6 {
        color: white;
        float: left;
        & + h6 {
          margin-left: 10px;
        }
      }
    }

    h2, h4, h5, h6 {
      margin: 0;
    }

    h2 {
      font-size: 24px;
      margin-top: 15px;
    }

    h4 {
      margin-top: 15px;
      font-weight: normal;
      font-size: 16px;
      color: $white-gray;
      &.full {
        display: none;
      }
    }

    h6 {
      text-transform: uppercase;
      color: $light-gray;
      &.left {
        font-weight: 300;
        float: left;
      }
      &.right {
        float: right;
      }
      span {
        font-weight: bold;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: .75;
    }

    &.open {
      width: $box-size * 1.25;
      height: $box-size * 1.25;
      opacity: 1 !important;
      & .story-wrapper, & .owners {
        &, & a {
          color: $black;
        }
        background: white;
      }
      .owners {
        &:before {
          position: absolute;
          content: '';
          top: -15px;
          left: 0;
          width: 100%;
          height: 15px;
          @include fade-gradient;
        }
      }
      h4.full {
        color: $black;
        display: block;
        max-height: 80%;
        position: relative;
        overflow: hidden;
      }
      h4.truncated {
        display: none;
      }
    }

  }
}
